# ignore internal documentation & resources
# moving these to github for self-reference from a different work station
# .internal_docs/

# ignore firebase deployment configs
.firebaserc
.firebase/

# ignore macos artifacts
.DS_Store
